*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  font-family: 'Oswald', sans-serif;
}

.header__wrapper {
  color: #ffffff;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 904px;
  margin: 50px 50px 0px 50px;
}

.header__nav {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-top: 79px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__nav ul li {
  position: relative;
}

.header__nav ul li::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #4CAF50;
  top: 20px;
  right: 0;
}

.header__nav ul li:hover::before {
  width: 100%;
}

.header__nav ul li + li {
  margin-left: 58px;
}

.header__title {
  font-size: 72px;
  line-height: 107px;
  font-weight: 500;
  letter-spacing: 4.608px;
  text-align: center;
  margin: 283px auto 24.5px;
}

.header__subtitle {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 1.28px;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 303px;
}

.header__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__number a {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  letter-spacing: 1.152px;
  color: rgba(255, 255, 255, 0.437245);
}

.header__number a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(2);
  color: #FFFFFF;
  text-decoration: line-through;
  -webkit-text-decoration-color: #4CAF50;
          text-decoration-color: #4CAF50;
}

.header__number a + a {
  margin-left: 10px;
}

.info__wrapper {
  height: 599px;
  margin: 144px 0 120px;
}

.info__inner {
  position: relative;
}

.info__title p {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  line-height: 53px;
  font-weight: 700;
  letter-spacing: 2.304px;
  color: #333333;
  margin-bottom: 4px;
}

.info__title span {
  font-size: 42px;
  line-height: 57px;
  font-weight: 300;
  letter-spacing: 2.688px;
  color: #504E4E;
}

.info__text-1, .info__text-2 {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 1.26px;
  color: #5B5858;
  width: 280px;
  position: absolute;
}

.info__text-1::before, .info__text-2::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  left: -30px;
  top: 12px;
  background: #353535;
}

.info__text-1 {
  top: 219px;
  left: 51px;
}

.info__text-2 {
  top: 404px;
  right: 0;
}

.info__img-bg-1 {
  position: absolute;
  top: 0;
  left: 193px;
  z-index: -1;
}

.info__img-bg-2 {
  width: 309px;
  height: 418px;
  left: 403px;
  top: 62px;
  background: #4CAF50;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  z-index: -2;
}

.info__img-bg-3 {
  position: absolute;
  top: 158px;
  right: 257px;
  z-index: -3;
}

.services__wrapper {
  background-color: #FBFBFB;
  margin: 0px 50px 164px;
}

.services__inner {
  padding: 129px 0 136px;
  height: 690px;
}

.services__title {
  font-family: Oswald;
  font-size: 48px;
  line-height: 71px;
  font-weight: 700;
  letter-spacing: 3.072px;
  color: #252525;
  position: relative;
  margin-bottom: 94px;
}

.services__title::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  left: 0px;
  top: 72px;
  background: #252525;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  width: 373px;
  background: #FFFFFF;
  padding: 53px 43px 35px;
  position: relative;
}

.services__item:hover {
  border-bottom: 3px solid #70BF73;
}

.services__item:hover .services__item-icon img {
  opacity: 1;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.services__item-title {
  font-family: Oswald;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #252525;
  position: relative;
  margin-bottom: 36px;
}

.services__item-title::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  left: 0px;
  top: 42px;
  background: #252525;
}

.services__item-text {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1.008px;
  color: #777777;
  margin-bottom: 19px;
}

.services__item-link {
  font-family: Oswald;
  font-size: 10px;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #252525;
  opacity: 0.5;
}

.services__item-link:hover {
  opacity: 1;
}

.services__item-icon {
  position: absolute;
  left: 288px;
  top: 63px;
  border-radius: 50%;
  padding: 12px;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services__item-icon img {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

.works__wrapper {
  height: 1652px;
  margin-bottom: 173px;
}

.works__inner {
  margin-bottom: 177px;
  padding-top: 45px;
  position: relative;
}

.works__title {
  font-family: Oswald;
  font-size: 48px;
  line-height: 71px;
  font-weight: 700;
  letter-spacing: 3.072px;
  color: #252525;
  position: relative;
  margin-bottom: 53px;
}

.works__title::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  left: 0px;
  top: 72px;
  background: #252525;
}

.works__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__nav ul li {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.832px;
  color: #252525;
  opacity: 0.3;
}

.works__nav ul li:hover {
  font-weight: 500;
  color: black;
  opacity: 1;
}

.works__nav ul li + li {
  margin-left: 41.5px;
}

.works__item {
  position: relative;
}

.works__item.camera {
  position: absolute;
  left: 595px;
  top: 0px;
}

.works__item.camera .works__item-title {
  position: absolute;
  left: 0px;
  top: 262px;
  width: 300px;
}

.works__item.camera .works__item-subtitle {
  position: absolute;
  left: 123px;
  top: 468px;
}

.works__item.camera .works__item-subtitle p:nth-child(1) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.works__item.camera .works__item-subtitle p:nth-child(2) {
  text-align: right;
}

.works__item.camera .works__item-bg {
  position: absolute;
  left: 129px;
  top: 0px;
  z-index: -1;
}

.works__item.cat {
  position: absolute;
  left: 0px;
  top: 361px;
}

.works__item.cat .works__item-title {
  position: absolute;
  left: 370px;
  top: 268px;
  width: 220px;
}

.works__item.cat .works__item-subtitle {
  position: absolute;
  left: 174px;
  top: 467px;
}

.works__item.cat .works__item-subtitle p:nth-child(1) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.works__item.cat .works__item-subtitle p:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__item.cat .works__item-subtitle a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.832px;
  color: #252525;
}

.works__item.cat .works__item-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.works__item.imac {
  position: absolute;
  left: 595px;
  top: 733px;
}

.works__item.imac .works__item-title {
  position: absolute;
  left: 0px;
  top: 262px;
  width: 410px;
}

.works__item.imac .works__item-subtitle {
  position: absolute;
  left: 117px;
  top: 467px;
}

.works__item.imac .works__item-subtitle p:nth-child(1) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.works__item.imac .works__item-subtitle p:nth-child(2) {
  text-align: right;
}

.works__item.imac .works__item-bg {
  position: absolute;
  left: 129px;
  top: 0px;
  z-index: -1;
}

.works__item.macbook {
  position: absolute;
  left: 0px;
  top: 1094px;
}

.works__item.macbook .works__item-title {
  position: absolute;
  left: 370px;
  top: 268px;
  width: 240px;
}

.works__item.macbook .works__item-subtitle {
  position: absolute;
  left: 174px;
  top: 467px;
}

.works__item.macbook .works__item-subtitle p:nth-child(1) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.works__item.macbook .works__item-subtitle p:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__item.macbook .works__item-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.works__item-title {
  font-family: Oswald;
  font-size: 48px;
  line-height: 71px;
  font-weight: 300;
  letter-spacing: 3.072px;
  color: #252525;
}

.works__item-title.line-through {
  -webkit-text-decoration: line-through #4CAF50;
          text-decoration: line-through #4CAF50;
}

.works__item-subtitle {
  width: 336px;
}

.works__item-subtitle p:nth-child(1) {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 1.152px;
  color: #252525;
  margin-bottom: 17px;
}

.works__item-subtitle p:nth-child(2) {
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.832px;
  color: #C2C2C2;
  margin-bottom: 20px;
}

.works__item-subtitle .line-through {
  -webkit-text-decoration: line-through #4CAF50;
          text-decoration: line-through #4CAF50;
}

.works__link {
  font-family: Oswald;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #252525;
  position: absolute;
  width: 70px;
  left: 1118px;
  top: 1629px;
}

.team__wrapper {
  background: #FBFBFB;
  margin: 0 50px;
}

.team__title {
  padding: 135px 0 80px;
  font-family: Oswald;
  font-size: 48px;
  line-height: 71px;
  font-weight: 700;
  letter-spacing: 3.072px;
  color: #252525;
  position: relative;
}

.team__title::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  left: 0px;
  top: 207px;
  background: #252525;
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 167px;
}

.team__items .team__item + .team__item {
  margin-left: 37px;
}

.team__item {
  position: relative;
  overflow: hidden;
}

.team__item:hover .team__info {
  top: 245px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.team__item:hover .team__info-name::before {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.team__bg img {
  width: 100%;
  height: 398px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.team__bg img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
}

.team__info {
  position: absolute;
  width: 100%;
  top: 340px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.team__info-name {
  font-family: Oswald;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: 1.152px;
  color: #252525;
  margin-top: 19px;
  margin-bottom: 17px;
  position: relative;
}

.team__info-name::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  left: 163px;
  top: 34px;
  background: #252525;
  opacity: 0;
}

.team__info-profession {
  font-family: Oswald;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: 1.152px;
  color: #252525;
  margin-bottom: 12px;
}

.team__info-comment {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1.008px;
  color: #777777;
  padding-bottom: 30px;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
}

.slider__items .slick-arrow {
  position: absolute;
  z-index: 5;
  font-size: 0;
  top: 238px;
  width: 20px;
  height: 20px;
  background: none;
  cursor: pointer;
}

.slider__items .slick-arrow.slick-next {
  background-image: url(../img/arrow_right.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: inherit;
  right: 0;
}

.slider__items .slick-arrow.slick-prev {
  background-image: url(../img/arrow_left.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: inherit;
  left: 0;
}

.slider__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider__item-text {
  font-size: 14px;
  line-height: 31px;
  font-weight: 300;
  letter-spacing: 0.896px;
  color: #373737;
  text-align: center;
  max-width: 740px;
  margin: 0 auto 31px;
}

.slider__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 29px;
}

.slider__item-name {
  font-family: Oswald;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 1.152px;
  color: #373737;
  text-align: center;
  margin-bottom: 25px;
}

.slider__item-name b {
  font-size: 18px;
  color: #B8B8B8;
}

.slider__item-name span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 0.896px;
  color: #B8B8B8;
}

.slider__item-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 147px;
  position: relative;
}

.slider__item-star::before {
  content: "";
  position: absolute;
  width: 511px;
  height: 1px;
  left: 330px;
  top: 45px;
  background: #D8D8D8;
  opacity: 0.5;
}

.slider__item-star img {
  opacity: 0.2;
}

.slider__item-star img:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider__item-star img + img {
  margin-left: 9px;
}

.button__wrapper {
  margin: 0 50px 0;
}

.button__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button__item {
  width: 50%;
  height: 300px;
  text-align: center;
}

.button__item:first-child {
  background-color: #FBFBFB;
  color: #373737;
}

.button__item:last-child {
  background-color: #70BD59;
  color: #ffffff;
}

.button__item-icon {
  padding-top: 70px;
  margin-bottom: 16px;
}

.button__item-title {
  font-family: Oswald;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 2.66667px;
  margin-bottom: 22px;
}

.button__item-subtitle {
  font-family: Oswald;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  letter-spacing: 1.55556px;
  padding-bottom: 100px;
}

.footer__wrapper {
  background-color: #2E2E2E;
  margin: 0 50px 60px;
}

.footer__info {
  font-family: Oswald;
  font-size: 13px;
  line-height: 19px;
  font-weight: 300;
  letter-spacing: 0.832px;
  color: #FFFFFF;
  opacity: 0.5;
  text-align: center;
  padding-top: 105px;
}

.footer__info-adress {
  margin-bottom: 10px;
}

.footer__info-contact {
  margin-bottom: 39px;
}

.footer__info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px;
}

.footer__info-social a + a {
  margin-left: 20px;
}

.footer__info-social img {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}

.footer__info-social img:hover {
  opacity: 1;
}

.footer__info-bottom {
  background-color: #252525;
  padding: 20px 0;
}
