.team {

   &__wrapper {
      background: #FBFBFB;
      margin: 0 50px;
   }

   &__inner {
   }

   &__title {
      padding: 135px 0 80px;
      font-family: Oswald;
      font-size: 48px;
      line-height: 71px;
      font-weight: 700;
      letter-spacing: 3.072px;
      color: #252525;
      position: relative;
      &::before{
         content: "";
         position: absolute;
         width: 45px;
         height: 2px;
         left: 0px;
         top: 207px;
         background: #252525;
      }
   }

   &__items {
      display: flex;
      padding-bottom: 167px;
      .team__item + .team__item{
         margin-left: 37px;
      }
   }

   &__item {
      position: relative;
      overflow: hidden;
      &:hover{
         .team__info{
            top: 245px;
            background-color: hsla(175°, 0%, 100%, 0.9);
            transition-duration: 1s;
            &-name{
               &::before{
                  opacity: 1;
                  transition-duration: 0.5s;
               }
            }
         }
      }
   }

   &__bg {
      img {
         width: 370px;
         height: 398px;
         object-fit: cover;
         -webkit-filter: grayscale(100%);
         -moz-filter: grayscale(100%);
         -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
         filter: grayscale(100%);
         -webkit-transition: all 1s;
         -moz-transition: all 1s;
         -o-transition: all 1s;
         transition: all 1s;
         &:hover{
            -webkit-filter: none;
            -moz-filter: none;
            -ms-filter: none;
            -o-filter: none;
            filter: none;
            filter: none;
         }
      }
   }

   &__info {
      position: absolute;
      width: 370px;
      top: 340px;
      text-align: center;
      background-color: hsla(175°, 0%, 100%, 0.5);
      &-name{
         font-family: Oswald;
         font-size: 18px;
         line-height: 27px;
         font-weight: 300;
         letter-spacing: 1.152px;
         color: #252525;
         margin-top: 19px;
         margin-bottom: 17px;
         position: relative;
         &::before{
            content: "";
            position: absolute;
            width: 45px;
            height: 2px;
            left: 163px;
            top: 34px;
            background: #252525;
            opacity: 0;
         }
      }
      &-profession {
         font-family: Oswald;
         font-size: 18px;
         line-height: 27px;
         font-weight: 300;
         letter-spacing: 1.152px;
         color: #252525;
         margin-bottom: 12px;
      }
      &-comment {
         font-size: 12px;
         line-height: 25px;
         letter-spacing: 1.008px;
         color: #777777;
         padding-bottom: 30px;
      }
   }
}
